{
  "env": {
    "distribution": {
      "presets": [['es2015', { "modules": false }], 'react'],
      "plugins": ["syntax-object-rest-spread","transform-class-properties","transform-object-rest-spread"]
    },
    "devserver": {
      "presets": [['es2015', { "modules": false }], 'react'],
      "plugins": ["react-hot-loader/babel", "syntax-object-rest-spread","transform-class-properties","transform-object-rest-spread"]
    },
    "test": {
      "presets": ['es2015', 'react'],
      "plugins": ["syntax-object-rest-spread","transform-class-properties","transform-object-rest-spread"]
    }
  },
    "presets": ['es2015', 'react'],
    "plugins": ["syntax-object-rest-spread","transform-class-properties","transform-object-rest-spread"]
}
